.card-title {
    height: 50px;
    overflow: hidden;
}
.nav-item { /* لإزالة المسافة الموجودة من ناحية اليمين الموضوعة عن طريق مكتبة البوتستراب */ 
	margin: 0 !important
}
.social-media {
	position: absolute; /*نضع هذه الخاصية للعنصر الذي نريد تحريكه*/
	bottom:18px;
	left:20px;
}
.banner{
	position: relative;  /*نضع هذه الخاصية للعنصرالأب*/
}
.follow{

	position: absolute; 
	bottom:18px;
	right:18px;
}
